/* base.css */
		body{background-color:#fff; font-family:Malgun Gothic, Arial, sans-serif;}
	    a:link, a:visited{color:#000; text-decoration:none;}
	    a:hover, a:focus{color:#000; text-decoration:none;}