/* reset */
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
        li{list-style-type:none;}
        img{border:0 none;}

/* base */
        body{background-color:#FFF; font-family:"nanum", Malgun Gothic, Arial, sans-serif; cursor:default; -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}
        a:link, a:visited{color:#000; text-decoration:none;}
        a:hover, a:focus{color:#000; text-decoration:none;}
        /*.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}*/

/* layout */
        #wrapper{width:100%; height:100%; margin:0 auto; padding:70px 0px; float:left; background-color:#73b6e4; background-attachment:fixed;}/*background-image:linear-gradient(0deg, #EFD5D4, #365789); background-image: url('../images/background3.png');*/
        #header{width:100%; height:100%; margin:0 auto; float:left;}
        #main{width:100%; height:100%; float:left; margin:0 auto;}
        #footer{width:100%; height:400px; margin:0 auto; clear:both;}
        #content{width:100%; height:550px; color:#F7F7F7; float:left; text-align:center;}
        .hidden{position:absolute; left:-9999px; width:1px; height:1px; overflow:hidden; font-size:0; line-height:0;}

/* header */
        #content img{width:100px; height:100px; margin-top:150px; border-radius:50%;}
        #content p{margin-top:30px; font-size:50px;}
        #content p.txt{margin-top:15px; font-size:26px; font-weight:100;}
        #gnb_box{width:100%; max-width: 1024px; height:60px; margin:0 auto; position:relative; clear:both;}
        #gnb_box .gnb{width:100%; max-width: 1024px; height:60px; border-top-left-radius:10px; border-top-right-radius:10px; background-color:#EAEAEA; position:absolute; top:0; left:calc(50% - 512px); z-index:200;}
/*         #gnb_box .gnb li{width:25%; height:100%; float:left; text-align:center;} */
	#gnb_box .gnb li{width:33.3%; height:100%; float:left; text-align:center;}
        #gnb_box .gnb li a{color:#000; display:block; border-right:1px solid #000; margin-top:20px; font-size:20px;}
        #gnb_box .gnb li a.scroll_third{border-right:none;}
        #gnb_box .gnb li a:hover{text-shadow:2px 2px 3px #CCC;}

/* main */
	.bold{font-weight: bold;}
        #main .mc_space{width:100%; max-width: 1024px; margin:0 auto; position:relative; background-color:#FFF;}
        #main .mc_space .container{padding:50px;}
        #main .mc_space p.mc_title{height:40px; line-height:30px; margin-bottom:20px; font-size:30px; color:#A82C37; font-weight:bold; border-bottom:2px solid #A82C37;}
	#main .mc_space p.mc_title2{font-size: 24px !important; margin-bottom: 5px;}
	#main .mc_space p.mc_title2 span{font-size: 13px;}
	#main .mc_space .inner{margin-bottom: 30px;}
	#main .mc_space .inner p, #main .mc_space .inner_box p{font-size: 16px; word-break:keep-all;}
        #main .mc_space .transparent{color:transparent;}
        #main .mc_space p,
	#main .mc_space span{clear:both; line-height:30px; font-size:18px; color:#000;}
        #main .mc_space .explain{width:100%; height:100%; float:left; clear:both; line-height:35px; margin-bottom:10px; font-size:18px; color:#000;}
        #main .mc_space .explain li:first-child{width:130px; height:100%; float:left;}
        #main .mc_space .explain li:last-child{width:calc(100% - 130px); height:100%; float:right;}
        #main .mc_4{border-bottom-left-radius:10px; border-bottom-right-radius:10px; margin-bottom:100px;}
	.pic{width:115px;}
	.inner_box{display:flex;}
	.inner_box_lt{width:20%;}
	.inner_box_rt{flex-grow:1;}
	.inner_box_rt > div{margin-bottom:30px;}

        /* button */
        #main .mc_space .linkBtn{width:120px; height:50px; background-color:#EAEAEA; border:none; border-radius:25px; font-size:18px; position:absolute; top:170px; right:6%; transition:all ease 1s;}
        #main .mc_space .linkBtn:hover{cursor:pointer; box-shadow:2px 2px 2px;}

/* footer */
        #footer .f_content{width:980px; height:100%; margin:0 auto; color:#000; text-align:center;}
        #footer .f_content p{font-size:20px; line-height:50px; opacity:0.7;}
        #footer .f_content span.item{font-weight:bold; margin-right:15px; opacity:1.0;}
        #footer .f_content p.copyright{font-size:12px; margin-top:30px;}

/* popup */
/*
		.popWrap{width:270px; height:270px; border-radius:50%; background-color:rgba(255,255,255,0.6); text-align:center; position:fixed; top:14%; right:4%; z-index:12;}
		.popWrap .popdesc{line-height:35px; margin-top:75px;}
		.popWrap .popdesc span{display:block; font-size:16px;}
		.popWrap .todayclose{font-size:13px; margin-top:35px;}
		.popWrap .todayclose a:link, .popWrap .todayclose a:visited{color:#8c8c8c;}
		.popWrap .todayclose a:hover, .popWrap .todayclose a:focus{color:#515355;}
*/

/* PC1 min:1024px~max:1599px */
        @media all and (min-width:1024px) and (max-width:1599px){
        }

/* TABLET min:768px~max:1023px */
        @media all and (min-width:768px) and (max-width:1023px){
	    #wrapper{padding:0px; background-image:none;}
	    #header{padding-top: 0px;}
            #content{height:450px;}
            #content p{font-size:40px;}
            #content p.txt{margin-top:20px; font-size:22px;}
            #content img{margin-top:100px;}
            #gnb_box{width:100%;}
	   .pic{width:100%;}
            #gnb_box .gnb{width:100%; left:0; border-radius:0px;}
            #footer{height:350px;}
            #footer .f_content{width:100%;}
        }

/* MOBILE ~767px */
        @media all and (max-width:767px){
	    #wrapper{padding:0px; background-image:none;}
            #content{height:300px;}
            #content p{margin-top:20px; font-size:30px;}
            #content p.txt{margin-top:15px; font-size:18px;}
            #content img{width:80px; height:80px; margin-top:50px;}

            #main .mc_space .container{width:90%;}
	    #main .mc_space span{clear:both; line-height:30px; font-size:14px; color:#000;}
            #main .mc_space p.mc_title{font-size: 26px;}
            #main .mc_space .explain li:first-child{width:100%;}
            #main .mc_space .explain li:last-child{width:100%;}
            #main .mc_space.mc_4{margin-bottom:60px;}
            .pic{width:100%; max-width:115px;}
            #main .mc_space .linkBtn{width:30%; background-color:#EAEAEA; border:none; border-radius:5px; font-size:18px; position:inherit; margin-top:20px; margin-left:35%; transition:all ease 1s;}
            #main .mc_space .linkBtn:hover{width:100%; margin-left:0; box-shadow:none; cursor:pointer;}
	    #gnb_box .gnb{width:100%; left:0; border-radius:0px;}
	   .inner_box{display:block;}
	   .inner_box_lt{width:100%;}
		
            #footer{height:320px;}
            #footer .f_content{width:100%;}
            #footer .f_content p{font-size:18px;}
        }
